%header#header Success

#contents
  #side-menu
    #account
      %p#account__name UKI
      %p#account__icon
        = link_to "", "", class: "fa fa-edit icon-white"
        = link_to "", "", class: "fa fa-cog icon-white"

    #group__list
      -# = link_to "", "", class: "group__list__elem" do
        %p.group__list__elem__title test
        %p.group__list__elem__latest-talk hello

  #talk
    #talk__header
      #talk__header__info
        #talk__header__info__group test
        #talk__header__info__member Member : uki2
      = link_to "Edit", "", id: "talk__header__edit"
    
    #talk__board
      .talk 
        %p.talk__sender UKI
        %p.talk__send_at 2019-05-15 21:00
        %p.talk__text hello

    %from#talk__form
      %input.talk__form__text(placeholder="type text")
      %label.talk__form__image-label
        %i.fa.fa-picture-o
        %input.talk__form__image-label__image(type="file")
      %button.talk__form__submit(type="submit")Send

  