%header#header Success

#contents
  #side-menu
    #account
      %p#account__name UKI
      %a#account__edit(href="")
      %a#account__config(href="")

    #group__list
      %a.group__list__elem(href="")
        %p.group__list__elem__title test
        %p.group__list__elem__latest-talk hello

  #talk
    #talk__header
      #talk__header__group test
      #talk__header__member Member : uki2
      %a#talk__header__edit(href="") Edit
    
    #talk__board
      .talk 
        %p.talk__sender UKI
        %p.talk__send_at 2019-05-15 21:00
        %p.talk__text hello

    %from.talk__from
      %input.talk__form__text
      %input.talk__form__image
      %button.talk__form__submit(type="submit")Send

  