.notification {
  .notice {
    background-color: $lightBlue;
    color: white;
    text-align: center;
  }

  .alert {
    background-color: $alertOrange;
    color: white;
    text-align: center;
  }
}
