$sideMenuWid : 300px;
$talkWid : calc(100vw - 300px);
$headerHig : 96px;
$lightBlue : #38AEF0;
$darkBlueInpuct : #253141;
$darkBlue : #2f3e51;
$talkWhite : #fafafa;
$formGray : #dfdfdf;
$textBlack : #434A54;
$textGray : #999999; 
