@import "./reset";
@import "./variable";
@import "./mixin";
@import "font-awesome";

#header {
  display: none;
  width: 100%;
  background-color: #38AEF0;
  color: #fff;
  text-align: center;
}

#contents {
  width: 100%;
  height: 100%;

  #side-menu {
    width: $sideMenuWid;
    height: 100%;
    float: left;
    color: #fff;
    font-weight: bold;
    #account {
      @include headerFix();
      width: $sideMenuWid;
      height: $headerHig;
      background-color: #253141;
      #account__name {
        @include accountStructure();
        float: left;
        font-size: 16px;
      }
      #account__icon {
        @include accountStructure();
        float: right;
      }
      .icon-white {
        text-decoration: none;
        color: #fff;
      }
    }

    #group__list {
      width: $sideMenuWid;
      height: calc(100% - $headerHig);
      overflow: auto;
      margin-top: $headerHig;
      background-color: #2f3e51;
      .group__list__elem {
        padding: 20px;
        display: block;
        text-decoration: none;
        color: #fff;
        .group__list__elem__title {
          font-size: 15px;
        }
        .group__list__elem__latest-talk {
          font-size: 11px;
        }
      }
    }
  }

  #talk {
    width: calc($talkWid);
    height: 100%;
    float: right;
    background-color: #fafafa;
    #talk__header {
      @include headerFix();
      width: calc($talkWid - 80px);
      height: $headerHig;
      padding: 0 40px;
      border-bottom: #eeeeee solid;
      border-bottom-width: 1px; 
      background-color: #fff;
      #talk__header__info {
        float: left;
        #talk__header__info__group {
          margin-top: 35px;
          margin-bottom: 15px;
          font-size: 20px;
          color: #333333;
        }
        #talk__header__info__member {
          font-size: 12px;
          color: #999999;
        }
      }
      #talk__header__edit {
        margin-top: 28px;
        float: right;
        text-decoration: none;
        padding: 0 20px;
        line-height: 40px;
        color: #38AEF0;
        border: #38AEF0 solid;
        border-width: 1px; 
      }
    }
    #talk__board {
      width: calc(100% - 80px);
      height: calc(100% - $headerHig - 105px - 46px);
      overflow: auto;
      margin-top: $headerHig;
      padding: 0 40px;
      padding-top: 46px;
      .talk {
        padding-bottom: 40px;
        color: #434A54;
        .talk__sender {
          float: left;
          font-size: 16px;
          font-weight: bold;
          margin-right: 10px; 
          margin-bottom: 10px;
        }
        .talk__send_at {
          float: left;
          font-size: 12px;
          color: #999999;
        }
        .talk__text {
          font-size: 14px;
          clear: both;
        }
      }
    }
    #talk__form {
      @include footerFix();
      display: block;
      background-color: #dfdfdf;
      padding: 25px 40px;
      color: #434A54;
      font-size: 16px;
      width: calc(100% - 40 px);
      position: relative;
      .talk__form__text {
        width: calc(100% - 100px);
        padding: 0 10px;
        line-height: 50px;
      }
      .talk__form__image-label {
        padding: 0 10px;
        position: absolute;
        right: 125px;
        line-height: 50px;
        .talk__form__image-label__image {
          display: none;
        }
      }
      .talk__form__submit {
        display: inline-block;
        padding: 0 20px;
        background-color: #38AEF0;
        margin-left: 15px;
        position: absolute;
        right: 40px;
        text-decoration: none;
        line-height: 50px;
        color: #fff;
      }
    }
  }
} 